

.side-bar-body{
    background-color: var(--text-color);
    box-sizing: border-box;
    height: 100vh;
    border-top: 0px;
    margin-top: 0.5rem;
    width: 12rem;
    
}

.remove-sideBar{  
    display: none;
}

.innerBody{
    position: fixed;
    top: 13%;
    
}


.remove-btn{
    position: absolute;
    right: 9%;
    top: 2%;
    font-size: 25px;
}

.sideBar-item{
    margin-left: 2rem;
}