.video-listing-body{
    width: 100%;
}


.card-body{
    position: relative;
    margin: 0.5rem;

}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
}