.watch-card-body{
    border: 2px solid var(--border-color);
    width: 20.2rem;
    margin: 0.5rem;
    height: 16.5rem;
    position: relative;
}

.watch-remove-btn{
   position: absolute;
   bottom: 5%;
   right: 5%;
   background-color: var(--primary-color);
   border-radius: 0.2rem;
   display: none;
}

.watch-card-body:hover .watch-remove-btn{
    display: inherit;
}